<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/notmycss/font-awesome.min.css">
  <link rel="stylesheet" href ="/css/Default.css" />
  <link rel="stylesheet" href ="/css/{{cssName}}.css" />

</head>
<body>
<header>
	<h1> Industrial Internet Of Things - Mohawk College</h1>
	<nav> 
		<a href ='/'  class = '{{abo}}' > About Us </a>
		<a href = '/Projects' class = '{{pro}}' > Projects </a>
		<a href = '/Blog'  class = '{{blo}}' > Blog </a>
		<a href = '/Events'  class = '{{eve}}' > Events </a>
 
	</nav>
</header>
 
{{{body}}}
 
<footer>
	<div id = 'fdiv'>
		<h4>Location</h4>
		<div>Mohawk College Fennel Campus</div>
		<div>New Ewing</div>
		<div>Room E202 </div>
	</div>
	<div id = 'fdiv'>
		<h4>Contact</h4>
		<div>Norman Potts</div>
		<div>519 750 4577</div>
		<div>storminnormanpotts@hotmail.com</div>
	</div>
	<div id = 'fdiv'>
		<h4> Connect </h4>
		<div><a href="#" class="fa fa-twitter"></a>  <a href="#" class="fa fa-facebook"></a>   <a href="#" class="fa fa-linkedin"></a> <a href="#" class="fa fa-instagram"></a>  </div>
	</div>
</footer>

</body>
</html>